{% extends 'admin/base.html' %}

{% block head_tail %}
    {{ super() }}
    <style>
       
        .navbar-inverse {
            background-color: #003366 !important;
            border-color: #001a33 !important;
        }
        
        .navbar-inverse .navbar-brand, 
        .navbar-inverse .navbar-nav > li > a {
            color: #ffe45e !important; 
            font-weight: bold;
        }

        .btn-primary {
            background-color: #003366 !important;
            border-radius: 8px !important;
            border: none !important;
        }
    </style>
{% endblock %}